@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    padding: 0;
    font-family: 'Tahoma';
    margin: auto auto;
    
}
body {
    p, h1, h2{
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    text-align: center;
}
    

}

header .menu ul, a {
    display: flex;
    list-style: none;
    padding: 3px 0px;
    text-decoration: none;
    color: unset;
    font-weight: bolder;
    font-size: 20px;
}

/* header .menu a {
    text-decoration: none;
    color: unset;
    font-weight: bolder;
    font-size: 20px;
} */

header .menu .link {
    width: auto;
    height: 33px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header .menu .link:hover {
    color: #ffffff;
    background-color: black;
    opacity: 1;
}


header .meio-img {
    max-width: 100%;
    height: auto;
}

header .meio-img img {
    max-width: 100%;
    height: auto;
}

section#imoveisemdestaque {
    
    .central {
        margin-top: 25px;
        font-size: 35px;

    }

    .imovéisdestaque{
        display: flex;
        padding: 50px 30px;
        
    

    }

    .anuncio{
        border: 0px solid #f6f7f8;
        border-radius: 8px;
        box-shadow: 0 4px 12px #03030291;
        max-width: 350px;
        text-align: center;
        /* background-color: #3f250344; */
        background-image: linear-gradient(to right, #0a0c0f9a,  #3f250344, #6D6D69);
        overflow: hidden;
        padding: 25px 0px;
        

    }


    .imagem-imovel{
    width: 350px;
    height: 250px;
    object-fit: cover;

    }

    .info {
    padding: 16px;

    }

    .nome-imovel {
    font-size: 1.6em;
    color: aquamarine;
    margin: 0 0 8px;
    }

    .descricao {
        font-size: 1em;
        color: beige;
        margin: 0 0 16px;

    }

    .preco {
        font-size: 1.2em;
        color: black;
        font-weight: bold;
    }

}

.mapa {
    padding: 30px 0px;
    text-align: center;

    p {
        font-size: 1.4em;
        margin-top: 30px;
        

    }
}
.corretores {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px #03030291;
    border-radius: 7px;
    background-image: linear-gradient(to right, #6A8A7D,  #425b58ce, #2a3c40e0);
    overflow: hidden;
    width: 210px;
    height: 220px;

}

.imagem {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out ;
}

.corretores:hover .imagem {
    transform: translateY(-200px);
    opacity: 0;
}

.conteudo {
    position: absolute;
    opacity: 0;
    
     p, li, img {
        font-size: 20px;
        margin: 4px 3px;
        

    }


}

.corretores:hover .conteudo {
    list-style: none;
    opacity: 1;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out ;


}


    

